<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.biz.mapper.BizCategoryMapper">
    
    <resultMap type="BizCategory" id="BizCategoryResult">
        <result property="categoryId"    column="category_id"    />
        <result property="name"    column="name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBizCategoryVo">
        select category_id, name, create_by, create_time, update_by, update_time from biz_category
    </sql>

    <select id="selectBizCategoryList" parameterType="BizCategory" resultMap="BizCategoryResult">
        <include refid="selectBizCategoryVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectBizCategoryByCategoryId" parameterType="Long" resultMap="BizCategoryResult">
        <include refid="selectBizCategoryVo"/>
        where category_id = #{categoryId}
    </select>

    <insert id="insertBizCategory" parameterType="BizCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into biz_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBizCategory" parameterType="BizCategory">
        update biz_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteBizCategoryByCategoryId" parameterType="Long">
        delete from biz_category where category_id = #{categoryId}
    </delete>

    <delete id="deleteBizCategoryByCategoryIds" parameterType="String">
        delete from biz_category where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>

</mapper>